.section-title{
  font-size: 2.8rem;
  font-weight: 700;
  color: #38bdf8;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.section-subtitle{
  max-width: 700px;
  margin: 0 auto 50px;
  color: #94a3b8;
  font-size: 1.05rem;
  line-height: 2;
}

.skills{
 padding: 80px 10%;
 background: #0f172a;
 color: #fff;
}

.skills-container{
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.skills-container h2{
  font-size: 2.5rem;
  color: #38bdf8;
  margin-bottom: 15px;
}

.skills-grid{
  display: grid ;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 20px;
}

.skill-card {
  background: #1e293b;
  border: 1px solid #334155;
  border-radius: 18px;
  padding: 35px 20px;
  text-align: center;
  transition: all 0.35s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.skill-card h3{
  font-size: 1.1rem;
  color: #fff;
}

.skill-card:hover{
  transform: translateY(-10px);
  border-color: #38bdf8;
  box-shadow: 0 10px 25px rgba(56, 189, 248, 0.25);
}

.skill-icon{
  font-size: 3.5rem;
  margin-bottom: 18px;
  transition: transform 0.4s ease;
}

.skill-card:hover .skill-icon{
  transform: scale(1.2) rotate(8deg);
}

.skill-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -120%;
  width: 70%;
  height: 100%;
  background: rgba(255,255,255,0.08);
  transform: skewX(-25deg);
  transition: 0.6s;
}

.skill-card:hover::before {
  left: 150%;
}

@media (max-width: 992px) {
  .skills {
    padding: 70px 6%;
  }

  .section-title {
    font-size: 2.4rem;
  }

  .section-subtitle {
    font-size: 1rem;
    max-width: 600px;
  }

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .skill-card {
    padding: 30px 18px;
  }

  .skill-icon {
    font-size: 3rem;
  }
}